# 배포에도 아래와 동일한 secret 추가 필요
ENV=development
PORT=8080
SUPABASE_URL=
SUPABASE_ANON_KEY=

# service_role는 회원 탈퇴에 사용
SUPABASE_SERVICE_ROLE_KEY=

# 네이버 검색 오픈API (developers.naver.com)
NAVER_SEARCH_CLIENT_ID=
NAVER_SEARCH_CLIENT_SECRET=

# 네이버 Maps API
NAVER_MAP_CLIENT_ID=
NAVER_MAP_CLIENT_SECRET=

# 카카오 로컬 API REST 키(developers.kakao.com)
KAKAO_REST_API_KEY=
